.div1{
    padding: 20px;
    border: cornsilk;
    margin: 20px;
    text-align: center;
}
.div2{
    padding: 20px;
    border: cornsilk;
    margin: 20px;
    float: left;
    text-align: center;
}
.div3{
    padding: 20px;
    border: cornsilk;
    margin: 20px;
    text-align: center;
}